* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
    background-color: #D9E5F3;
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

.top-bar {
    height: 113px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 18px -6px #0057FF;
}

#logo-container {
    width: 100%;
    height: 50px;
    padding: 35px 0px 0px 51px;
}

.pull-topbar-down {
    /* margin-bottom: 170px; */
}


#form-title {
    color: #134077;
    text-align: center;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    margin-top: 30px;
}

#form-container {
    width: 662px;
    border-radius: 19px;
    border: 1px solid #134077;
    background: #FFF;
    margin: 20px auto;
    padding: 20px 40px;
    z-index: 15;
    /*height: 460px;*/
    position: relative;
}

.card-container {
    display: flex;
    z-index: 13;
    position: relative;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.card {
    width: 349px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 19px;
    border: 1px solid #134077;
    background: #FFF;
    margin: 15px auto;
    padding: 25px;
}

.card>a {
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    text-decoration: none;
    /* padding: 10px; */
    padding: 19px;
    display: block;
    text-align: center;
    margin-top: 40px;
    /* 19.9px */
}

.event-title {
    color: #231F20;
    /* text-align: center; */
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
}

.event-date {
    color: #CCC;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.5%;
    /* 19.9px */
    margin-top: 15px;
}

.login-form-title {
    /* margin-top: -100px; */
}

.form-label {
    color: #231F20;
    text-align: center;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    display: inline-block;
    margin-bottom: 5px;
}

.form-text-input,
.form-text-input:focus {
    width: 100%;
    color: #CCC;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.5%;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #2D224C;
    padding: 5px 5px 5px 0px;
    margin-bottom: 20px;
}

.form-text-input:focus {
    outline: 0;
    border-bottom: 1.2px solid #0057FF;
    padding-left: 5px;
}

.form-text-input::placeholder {
    color: #CCCCCC;
}

.toggle-password-view {
    right: 8%;
    position: absolute;
    cursor: pointer;
    display: inline-block;
}

.toggle-password-view-registration {
    top: 65%;
}

.toggle-password-view-login {
    top: 43.5%;
}

.general-button {
    border-radius: 11px;
    background: #0057FF;
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    text-transform: uppercase;
    border-style: none;
    width: 100%;
    display: block;
}

.register-button {
    height: 59px;
    margin: 10px auto;
}

#have-account {
    color: #2D224C;
    text-align: center;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.5%;
    text-decoration-line: underline;
    margin-top: 10px;
}

#login-link {
    color: #2D224C;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    text-decoration-line: underline;
}

/* backgrounds */
#curvy-bg-container {
    /* height: 112px; */
    /* position: absolute; */
}

#curvy-bg-white {
    height: 152px;
    z-index: 10 !important;
    display: block;
    width: 100% !important;
    position: absolute;
    bottom: 0;
}

#curvy-bg-dark {
    top: 311px;
    width: 100% !important;
    position: absolute;
    z-index: 9;
    height: 452px;
}

#curvy-bg-dark-2 {
    top: 494px;
    position: absolute;
    height: 152px;
    width: 100% !important;
}

#ellipse-big {
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 11;
}

#ellipse-small {
    position: absolute;
    top: 265px;
    left: 85%;
    right: 33px;
    z-index: 6;
}

#rocket-bg {
    position: absolute;
    top: 468px;
    left: 80%;
    right: 173px;
    z-index: 12;
}

@media (min-height: 100%) {
    #curvy-bg-white {
        top: 200px;
        /*311*/
    }

}

@media (min-height: 816px) {
    #curvy-bg-dark {
        top: 500px;
    }

    #curvy-bg-dark-2 {
        top: 680px;
    }

    #ellipse-big {
        top: 250px;
    }

    #ellipse-big {
        top: 269px !important;
    }

    #ellipse-small {
        top: 295px !important;
    }

    #rocket-bg {
        top: 680px !important;
    }
}

/* feed back section */
.feedback {
    min-height: 35px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
}
 .feedback-error {
    background-color: crimson;
 }

 .feedback-success {
     background-color: green;
 }

.feedback-close {
    position: relative;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    top: 2px;
    width: 20px;
    height: 20px;
    float: right;
    background-color: #FFFFFF;
    color: crimson;
    text-align: center;
    margin-left: 5px;
    cursor: pointer !important;
}

.attendees-events {
    font-size: 20px;
    font-weight: bold;
    list-style-type: square !important;
}

.attendees-events>li {
    display: inline-block;
    margin-left: 10px;
}

.attendees-events>li>small {
    font-weight: 600;
    color: #a09c9c;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 20px;
    display: inline-block;
}

#registered-events{
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    border: solid 0px #134077;
    border-collapse: collapse;
    cursor: default;
    table-layout: fixed;
}

th {
    text-align: start;
    background-color: #134077;
    color: #FFF;
    padding: 10px;
}

th, td {
    word-wrap: break-word;
}

tr:nth-child(odd) {
    background-color: #e7eff8;
}

tr>td {
    padding: 5px;
}

tr:hover {
    background-color: #D9E5F3;
}

.view-record, .view-record:active, .view-record:visited, .view-record:link {
    color: blue;
}


.edit-record, .edit-record:active, .edit-record:visited, .edit-record:link {
    color: green;
}

.delete-record, .delete-record:active, .delete-record:visited, .delete-record:link {
    color: crimson;
}

.view-record:hover, .edit-record:hover, .delete-record:hover {
    font-weight: bold;
}

.event-details {
    font-weight: bold;
    color: #134077;
}

.back-home {
    font-weight: bold;
    border-radius: 11px;
    padding: 7px;
    background-color: #0057FF;
    color: #FFFFFF;
}

.back-home:hover {
    border: solid 1px #0057FF;
    color: #0057FF;
    background-color: transparent;
}

#nav-menu > a, #nav-menu > a:active, #nav-menu > a:visited, #nav-menu > a:link {
    color: #134077;
    font-weight: bold;
}

#nav-menu > a:hover {
    color: crimson;
}

#new-event-link, #new-event-link > a:active, #new-event-link > a:visited, #new-event-link > a:link {
    text-align: center;
    padding-top: 10px;
    color: crimson;
    font-weight: bold;
}